<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/header.css">
</head>

<body>

    <div class="add-product-main">

        <div class="header">
            <h1>Book Shop</h1>
        </div>
        

        <div class="add-product-page">
        <h1>Add a Book</h1>
        <form action="/admin/add-book" method="POST">
            <input type="text" name="title">
            <input type="submit" value="Add a Book">
        </form>
    </div>
    </div>

    
     
</body>
</body>

</html>