<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head'); %>
</head>

<body>

    <div class="add-product-main">

        <%- include('./includes/header'); %>
        

        <div class="add-product-page">
        <h1>Add a Book</h1>
        <form action="/admin/add-book" method="POST">
            <input type="text" name="title">
            <input type="submit" value="Add a Book">
        </form>
    </div>
    </div>

    
     
</body>
</body>

</html>